In [42]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [43]:
%%sql
postgresql://root:dRxOcyPFRkbiX2Cxv0IVbTZyP66rWeu4@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k

## Account Creation

In [44]:
%%sql
-- Create a new user account
INSERT INTO users (username, email, password_hash, preferred_language)
VALUES ('duo_learner', 'learner@example.com', 'hashed_password_123', 'English')
ON CONFLICT (username) DO NOTHING;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[]

Note: When an account is created, their energy will be set to max (this will be done in the app) but we explicitly do it here.

In [45]:
%%sql
INSERT INTO user_energy (user_id, energy_remaining, last_recharged_at)
SELECT user_id, 5, CURRENT_TIMESTAMP
FROM users
WHERE username = 'duo_learner' -- Or any new user
ON CONFLICT (user_id) DO NOTHING; -- Prevents re-insert if already exists

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[]

## Login

In [46]:
%%sql
-- Retrieve password hash for login verification (application logic would handle password checking)
SELECT password_hash
FROM users
WHERE username = 'duo_learner';

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('hashed_password_123',)]

## User Profile

### Retrieve User Details

In [47]:
%%sql
-- Get user profile information for 'duo_learner'
SELECT user_id, username, email, preferred_language, xp, streak, created_at
FROM users
WHERE username = 'duo_learner';

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[(11, 'duo_learner', 'learner@example.com', 'English', 0, 0, datetime.datetime(2025, 7, 9, 2, 53, 6, 763055))]

### Update User Profile (Streaks and XP)

In [48]:
%%sql
-- Update preferred language for 'duo_learner'
UPDATE users
SET preferred_language = 'Spanish'
WHERE username = 'duo_learner';

-- Simulate daily streak update for 'language_master' (e.g., after completing a lesson)
UPDATE users
SET streak = streak + 1, xp = xp + 10 -- Example: 10 XP for a lesson
WHERE username = 'language_master';

-- Verify update
SELECT user_id, username, email, preferred_language, xp, streak, created_at
FROM users
WHERE username = 'duo_learner';

SELECT user_id, username, email, preferred_language, xp, streak, created_at
FROM users
WHERE username = 'language_master';

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
0 rows affected.
1 rows affected.
0 rows affected.

[]

### Updating User Profile (Personal Info)

In [49]:
%%sql
-- Edit 'duo_learner's email and preferred language
UPDATE users
SET
    email = 'new_learner_email@example.com',
    preferred_language = 'French'
WHERE username = 'duo_learner';

-- In a real app, password changes would involve hashing the new password.
-- Example: Update password_hash for 'duo_learner'
UPDATE users
SET password_hash = 'new_hashed_password_456' -- New hashed password from application logic
WHERE username = 'duo_learner';

-- If you add first_name and last_name:
-- UPDATE users
-- SET first_name = 'Duo', last_name = 'Lingo'
-- WHERE username = 'duo_learner';

-- Verify profile update
SELECT username, email, preferred_language, password_hash, xp, streak
FROM users
WHERE username = 'duo_learner';

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.
1 rows affected.

[('duo_learner', 'new_learner_email@example.com', 'French', 'new_hashed_password_456', 0, 0)]

## Courses and Languages (Duolingo Side)
### Add Languages

In [50]:
%%sql
-- Add some languages
INSERT INTO languages (name) VALUES ('English') ON CONFLICT (name) DO NOTHING;
INSERT INTO languages (name) VALUES ('Spanish') ON CONFLICT (name) DO NOTHING;
INSERT INTO languages (name) VALUES ('French') ON CONFLICT (name) DO NOTHING;
INSERT INTO languages (name) VALUES ('German') ON CONFLICT (name) DO NOTHING;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Add Courses

In [51]:
%%sql
-- Add courses (assuming language_ids are known after inserting languages)
INSERT INTO courses (language_id, title, description)
SELECT language_id, 'Spanish for Beginners', 'Learn basic Spanish vocabulary and grammar.'
FROM languages WHERE name = 'Spanish'
ON CONFLICT (title) DO NOTHING;

INSERT INTO courses (language_id, title, description)
SELECT language_id, 'French Intermediate', 'Improve your French with complex sentences.'
FROM languages WHERE name = 'French'
ON CONFLICT (title) DO NOTHING;

INSERT INTO courses (language_id, title, description)
SELECT language_id, 'German Basics', 'An introduction to German language.'
FROM languages WHERE name = 'German'
ON CONFLICT (title) DO NOTHING;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.
0 rows affected.

[]

### List Available Courses

In [52]:
%%sql
-- List all available courses with their associated language
SELECT
    c.course_id,
    c.title,
    c.description,
    l.name AS language_name
FROM courses c
JOIN languages l ON c.language_id = l.language_id;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
7 rows affected.

[(1, 'Spanish Basics', 'Learn greetings, food, and travel in Spanish.', 'Spanish'),
 (2, 'French Basics', 'Essential phrases and grammar in French.', 'French'),
 (3, 'German Basics', 'Kickstart your German journey.', 'German'),
 (4, 'Japanese Hiragana', 'Master Hiragana characters and simple words.', 'Japanese'),
 (5, 'Thai for Beginners', 'Start speaking Thai with core vocabulary.', 'Thai'),
 (6, 'Spanish for Beginners', 'Learn basic Spanish vocabulary and grammar.', 'Spanish'),
 (7, 'French Intermediate', 'Improve your French with complex sentences.', 'French')]

## Enroll in courses Courses (User Side)

In [53]:
%%sql
-- Enroll 'duo_learner' in the 'German Basics' course
INSERT INTO user_courses (user_id, course_id, enrollment_status)
SELECT u.user_id, c.course_id, 'enrolled'
FROM users u, courses c
WHERE u.username = 'duo_learner' AND c.title = 'German Basics'
ON CONFLICT (user_id, course_id) DO NOTHING;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[]

### Get User's Enrolled Courses

In [54]:
%%sql
-- Get all courses 'duo_learner' is currently enrolled in
SELECT
    uc.user_course_id,
    u.username,
    c.title AS course_title,
    c.description,
    uc.enrollment_status,
    uc.enrolled_at
FROM user_courses uc
JOIN users u ON uc.user_id = u.user_id
JOIN courses c ON uc.course_id = c.course_id
WHERE u.username = 'duo_learner' AND uc.enrollment_status = 'enrolled';

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[(11, 'duo_learner', 'German Basics', 'Kickstart your German journey.', 'enrolled', datetime.datetime(2025, 7, 9, 2, 53, 19, 86298))]

### Drop Courses
Note: We only change the enrollment status to dropped so that we retain the enrollment history by not fully deleting the entry.

In [55]:
%%sql
UPDATE user_courses
SET enrollment_status = 'dropped'
WHERE user_id = (SELECT user_id FROM users WHERE username = 'duo_learner')
AND course_id = (SELECT course_id FROM courses WHERE title = 'Spanish for Beginners');

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
0 rows affected.

[]

## Lessons and Skills (Duolingo Side)

### Add Lessons to Courses

In [56]:
%%sql
-- Add lessons for 'Spanish for Beginners' (assuming course_id for 'Spanish for Beginners' is known)
INSERT INTO lessons (course_id, name, order_in_course)
SELECT course_id, 'Greetings and Introductions', 1
FROM courses WHERE title = 'Spanish for Beginners'
ON CONFLICT (course_id, name) DO NOTHING; -- Example unique constraint

INSERT INTO lessons (course_id, name, order_in_course)
SELECT course_id, 'Common Phrases', 2
FROM courses WHERE title = 'Spanish for Beginners'
ON CONFLICT (course_id, name) DO NOTHING;

-- Add a lesson for 'French Intermediate'
INSERT INTO lessons (course_id, name, order_in_course)
SELECT course_id, 'Past Tense Verbs', 1
FROM courses WHERE title = 'French Intermediate'
ON CONFLICT (course_id, name) DO NOTHING;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.
1 rows affected.

[]

### List Lessons For Specific Courses

In [57]:
%%sql
-- List all lessons for 'Spanish for Beginners'
SELECT
    l.lesson_id,
    l.name AS lesson_name,
    l.order_in_course,
    c.title AS course_title
FROM lessons l
JOIN courses c ON l.course_id = c.course_id
WHERE c.title = 'Spanish for Beginners'
ORDER BY l.order_in_course;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
2 rows affected.

[(11, 'Greetings and Introductions', 1, 'Spanish for Beginners'),
 (12, 'Common Phrases', 2, 'Spanish for Beginners')]

## Exercises

### Add Exercises to Lessons

In [58]:
%%sql
-- Add exercises for 'Greetings and Introductions' lesson (assuming lesson_id is known)
INSERT INTO exercises (lesson_id, question, correct_answer, exercise_type)
SELECT lesson_id, 'Translate: Hello', 'Hola', 'translation'
FROM lessons WHERE name = 'Greetings and Introductions' AND course_id = (SELECT course_id FROM courses WHERE title = 'Spanish for Beginners');

INSERT INTO exercises (lesson_id, question, correct_answer, exercise_type)
SELECT lesson_id, 'Which is "Good morning"? A) Buenas noches B) Buenos días C) Buenas tardes', 'B) Buenos días', 'multiple-choice'
FROM lessons WHERE name = 'Greetings and Introductions' AND course_id = (SELECT course_id FROM courses WHERE title = 'Spanish for Beginners');

INSERT INTO exercises (lesson_id, question, correct_answer, exercise_type)
SELECT lesson_id, 'Listen and type: "Comment ça va?"', 'Comment ça va?', 'listening'
FROM lessons WHERE name = 'Past Tense Verbs' AND course_id = (SELECT course_id FROM courses WHERE title = 'French Intermediate');

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Get Exercises For a Specific Lesson

In [59]:
%%sql
-- Get all exercises for the 'Greetings and Introductions' lesson
SELECT
    e.exercise_id,
    e.question,
    e.correct_answer,
    e.exercise_type,
    le.name AS lesson_name
FROM exercises e
JOIN lessons le ON e.lesson_id = le.lesson_id
WHERE le.name = 'Greetings and Introductions' AND le.course_id = (SELECT course_id FROM courses WHERE title = 'Spanish for Beginners');

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
2 rows affected.

[(13, 'Translate: Hello', 'Hola', 'translation', 'Greetings and Introductions'),
 (14, 'Which is "Good morning"? A) Buenas noches B) Buenos días C) Buenas tardes', 'B) Buenos días', 'multiple-choice', 'Greetings and Introductions')]

## Progress Tracking

### Record User Progress

In [60]:
%%sql
-- Simulate 'duo_learner' completing 'Greetings and Introductions' lesson
INSERT INTO user_progress (user_id, lesson_id, xp_earned, completed_at)
SELECT u.user_id, l.lesson_id, 20, CURRENT_TIMESTAMP
FROM users u, lessons l
WHERE u.username = 'duo_learner' AND l.name = 'Greetings and Introductions' AND l.course_id = (SELECT course_id FROM courses WHERE title = 'Spanish for Beginners');

-- Simulate 'language_master' completing 'Past Tense Verbs' lesson
INSERT INTO user_progress (user_id, lesson_id, xp_earned, completed_at)
SELECT u.user_id, l.lesson_id, 30, CURRENT_TIMESTAMP
FROM users u, lessons l
WHERE u.username = 'language_master' AND l.name = 'Past Tense Verbs' AND l.course_id = (SELECT course_id FROM courses WHERE title = 'French Intermediate');

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
0 rows affected.

[]

### Get User's Total XP

In [61]:
%%sql
-- Get total XP for 'duo_learner'
SELECT u.username, SUM(up.xp_earned) AS total_xp
FROM users u
JOIN user_progress up ON u.user_id = up.user_id
WHERE u.username = 'duo_learner'
GROUP BY u.username;

-- Or directly from the users table if updated there
SELECT username, xp
FROM users
WHERE username = 'duo_learner';

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.

[('duo_learner', 0)]

### Get User's Daily Streak

In [62]:
%%sql
-- Get streak for 'duo_learner'
SELECT username, streak
FROM users
WHERE username = 'duo_learner';

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('duo_learner', 0)]

### Get User's Completed Lessons

In [63]:
%%sql
-- Get all lessons completed by 'duo_learner'
SELECT
    u.username,
    c.title AS course_title,
    l.name AS lesson_name,
    up.xp_earned,
    up.completed_at
FROM user_progress up
JOIN users u ON up.user_id = u.user_id
JOIN lessons l ON up.lesson_id = l.lesson_id
JOIN courses c ON l.course_id = c.course_id
WHERE u.username = 'duo_learner'
ORDER BY up.completed_at DESC;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('duo_learner', 'Spanish for Beginners', 'Greetings and Introductions', 20, datetime.datetime(2025, 7, 9, 2, 53, 26, 113399))]

### Get User's Completed Courses

In [64]:
%%sql
-- Check if 'duo_learner' has completed all lessons in 'Spanish for Beginners'
SELECT
    u.username,
    c.title AS course_title,
    (
        SELECT COUNT(l.lesson_id)
        FROM lessons l
        WHERE l.course_id = c.course_id
    ) AS total_lessons_in_course,
    (
        SELECT COUNT(up.lesson_id)
        FROM user_progress up
        WHERE up.user_id = u.user_id
        AND up.lesson_id IN (SELECT lesson_id FROM lessons WHERE course_id = c.course_id)
    ) AS lessons_completed_in_course
FROM users u, courses c
WHERE u.username = 'duo_learner' AND c.title = 'Spanish for Beginners';

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('duo_learner', 'Spanish for Beginners', 2, 1)]

## Achievements

### Add Achievements

In [65]:
%%sql
-- Add some achievements
INSERT INTO achievements (name, description) VALUES ('First Lesson Complete', 'Complete your first lesson.') ON CONFLICT (name) DO NOTHING;
INSERT INTO achievements (name, description) VALUES ('7-Day Streak', 'Maintain a streak for 7 consecutive days.') ON CONFLICT (name) DO NOTHING;
INSERT INTO achievements (name, description) VALUES ('Spanish Novice', 'Complete the Spanish for Beginners course.') ON CONFLICT (name) DO NOTHING;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Award Achievement to User

In [66]:
%%sql
-- Award 'First Lesson Complete' to 'duo_learner'
INSERT INTO user_achievements (user_id, achievement_id)
SELECT u.user_id, a.achievement_id
FROM users u, achievements a
WHERE u.username = 'duo_learner' AND a.name = 'First Lesson Complete'
ON CONFLICT (user_id, achievement_id) DO NOTHING; -- Prevents re-awarding

-- Award '7-Day Streak' to 'language_master'
INSERT INTO user_achievements (user_id, achievement_id)
SELECT u.user_id, a.achievement_id
FROM users u, achievements a
WHERE u.username = 'language_master' AND a.name = '7-Day Streak'
ON CONFLICT (user_id, achievement_id) DO NOTHING;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
0 rows affected.

[]

### Get User's Achievements:

In [67]:
%%sql
-- Get all achievements for 'duo_learner'
SELECT
    u.username,
    a.name AS achievement_name,
    a.description,
    ua.achieved_at
FROM user_achievements ua
JOIN users u ON ua.user_id = u.user_id
JOIN achievements a ON ua.achievement_id = a.achievement_id
WHERE u.username = 'duo_learner'
ORDER BY ua.achieved_at DESC;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('duo_learner', 'First Lesson Complete', 'Complete your first lesson.', datetime.datetime(2025, 7, 9, 2, 53, 32, 514313))]

Leaderboards

In [68]:
%%sql
-- Get a leaderboard of top 10 users by XP
SELECT username, xp
FROM users
ORDER BY xp DESC
LIMIT 10;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
10 rows affected.

[('george', 610),
 ('carla', 500),
 ('jack', 420),
 ('irene', 320),
 ('alice', 300),
 ('danny', 250),
 ('hannah', 200),
 ('bob', 120),
 ('felix', 75),
 ('emma', 0)]

## Shop

### Add Shop Items

In [69]:
%%sql
-- Add some shop items
INSERT INTO shop_items (name, cost, description) VALUES ('Streak Freeze', 200, 'Prevents losing your streak for one day.') ON CONFLICT (name) DO NOTHING;
INSERT INTO shop_items (name, cost, description) VALUES ('Double XP Boost', 500, 'Doubles XP earned for 1 hour.') ON CONFLICT (name) DO NOTHING;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
0 rows affected.
1 rows affected.

[]

### User Purchases Item

In [70]:
%%sql
-- Simulate 'duo_learner' buying a 'Streak Freeze'
INSERT INTO user_purchases (user_id, item_id)
SELECT u.user_id, si.item_id
FROM users u, shop_items si
WHERE u.username = 'duo_learner' AND si.name = 'Streak Freeze';

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[]

### Get User Purchases

In [71]:
%%sql
-- Get all items purchased by 'duo_learner'
SELECT
    u.username,
    si.name AS item_name,
    si.cost,
    up.purchased_at
FROM user_purchases up
JOIN users u ON up.user_id = u.user_id
JOIN shop_items si ON up.item_id = si.item_id
WHERE u.username = 'duo_learner'
ORDER BY up.purchased_at DESC;

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('duo_learner', 'Streak Freeze', 100, datetime.datetime(2025, 7, 9, 2, 53, 36, 343117))]

### Recharge Energy From Shop Purchase

In [72]:
%%sql
UPDATE user_energy
SET energy_remaining = LEAST(energy_remaining + <purchased_amount>, 5) -- Add energy, cap at max
WHERE user_id = (SELECT user_id FROM users WHERE username = 'duo_learner');

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
(psycopg2.errors.SyntaxError) syntax error at or near "<"
LINE 2: SET energy_remaining = LEAST(energy_remaining + <purchased_a...
                                                        ^

[SQL: UPDATE user_energy
SET energy_remaining = LEAST(energy_remaining + <purchased_amount>, 5) -- Add energy, cap at max
WHERE user_id = (SELECT user_id FROM users WHERE username = 'duo_learner');]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Energy System

### Deduct Energy After an Exercise

In [73]:
%%sql
-- Deduct 1 energy for 'duo_learner' after completing an exercise
-- (Assumes application logic checks if energy > 0 first)
UPDATE user_energy
SET energy_remaining = energy_remaining - 1
WHERE user_id = (SELECT user_id FROM users WHERE username = 'duo_learner')
AND energy_remaining > 0; -- Only deduct if energy is available

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[]

### Recharge Energy (Daily Recharge)

In [74]:
%%sql
UPDATE user_energy
SET
    energy_remaining = 5, -- Max energy
    last_recharged_at = CURRENT_TIMESTAMP
WHERE last_recharged_at < CURRENT_DATE; -- If last recharge was before today

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
3 rows affected.

[]

### Get Current Energy Level

In [75]:
%%sql
-- Get energy status for 'duo_learner'
SELECT u.username, ue.energy_remaining, ue.last_recharged_at
FROM user_energy ue
JOIN users u ON ue.user_id = u.user_id
WHERE u.username = 'duo_learner';

 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('duo_learner', 4, datetime.datetime(2025, 7, 9, 2, 53, 7, 397465))]