In [ ]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql
postgresql://root:dRxOcyPFRkbiX2Cxv0IVbTZyP66rWeu4@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k

## Account Creation

In [ ]:
%%sql
-- Create a new user account
INSERT INTO users (username, email, password_hash, preferred_language)
VALUES ('duo_learner', 'learner@example.com', 'hashed_password_123', 'English')
ON CONFLICT (username) DO NOTHING;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[]

## Login

In [ ]:
%%sql
-- Retrieve password hash for login verification (application logic would handle password checking)
SELECT password_hash
FROM users
WHERE username = 'duo_learner';

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('hashed_password_123',)]

## User Profile

### Retrieve User Details

In [ ]:
%%sql
-- Get user profile information for 'duo_learner'
SELECT user_id, username, email, preferred_language, xp, streak, created_at
FROM users
WHERE username = 'duo_learner';

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[(1, 'duo_learner', 'learner@example.com', 'English', 0, 0, datetime.datetime(2025, 7, 8, 14, 14, 53, 190117))]

### Update User Profile

In [ ]:
%%sql
-- Update preferred language for 'duo_learner'
UPDATE users
SET preferred_language = 'Spanish'
WHERE username = 'duo_learner';

-- Simulate daily streak update for 'language_master' (e.g., after completing a lesson)
UPDATE users
SET streak = streak + 1, xp = xp + 10 -- Example: 10 XP for a lesson
WHERE username = 'language_master';

-- Verify update
SELECT user_id, username, email, preferred_language, xp, streak, created_at
FROM users
WHERE username = 'duo_learner';

SELECT user_id, username, email, preferred_language, xp, streak, created_at
FROM users
WHERE username = 'language_master';

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
0 rows affected.
1 rows affected.
0 rows affected.

[]

## Courses and Languages
### Add Languages

In [ ]:
%%sql
-- Add some languages
INSERT INTO languages (name) VALUES ('English') ON CONFLICT (name) DO NOTHING;
INSERT INTO languages (name) VALUES ('Spanish') ON CONFLICT (name) DO NOTHING;
INSERT INTO languages (name) VALUES ('French') ON CONFLICT (name) DO NOTHING;
INSERT INTO languages (name) VALUES ('German') ON CONFLICT (name) DO NOTHING;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Add Courses

In [ ]:
%%sql
-- Add courses (assuming language_ids are known after inserting languages)
INSERT INTO courses (language_id, title, description)
SELECT language_id, 'Spanish for Beginners', 'Learn basic Spanish vocabulary and grammar.'
FROM languages WHERE name = 'Spanish'
ON CONFLICT (title) DO NOTHING; -- Add a unique constraint on title if you want to prevent duplicates

INSERT INTO courses (language_id, title, description)
SELECT language_id, 'French Intermediate', 'Improve your French with complex sentences.'
FROM languages WHERE name = 'French'
ON CONFLICT (title) DO NOTHING;

INSERT INTO courses (language_id, title, description)
SELECT language_id, 'German Basics', 'An introduction to German language.'
FROM languages WHERE name = 'German'
ON CONFLICT (title) DO NOTHING;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.
1 rows affected.

[]

### List Available Courses

In [ ]:
%%sql
-- List all available courses with their associated language
SELECT
    c.course_id,
    c.title,
    c.description,
    l.name AS language_name
FROM courses c
JOIN languages l ON c.language_id = l.language_id;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
3 rows affected.

[(1, 'Spanish for Beginners', 'Learn basic Spanish vocabulary and grammar.', 'Spanish'),
 (2, 'French Intermediate', 'Improve your French with complex sentences.', 'French'),
 (3, 'German Basics', 'An introduction to German language.', 'German')]

## Lessons and Skills

### Add Lessons to Courses

In [ ]:
%%sql
-- Add lessons for 'Spanish for Beginners' (assuming course_id for 'Spanish for Beginners' is known)
INSERT INTO lessons (course_id, name, order_in_course)
SELECT course_id, 'Greetings and Introductions', 1
FROM courses WHERE title = 'Spanish for Beginners'
ON CONFLICT (course_id, name) DO NOTHING; -- Example unique constraint

INSERT INTO lessons (course_id, name, order_in_course)
SELECT course_id, 'Common Phrases', 2
FROM courses WHERE title = 'Spanish for Beginners'
ON CONFLICT (course_id, name) DO NOTHING;

-- Add a lesson for 'French Intermediate'
INSERT INTO lessons (course_id, name, order_in_course)
SELECT course_id, 'Past Tense Verbs', 1
FROM courses WHERE title = 'French Intermediate'
ON CONFLICT (course_id, name) DO NOTHING;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.
1 rows affected.

[]

### List Lessons For Specific Courses

In [ ]:
%%sql
-- List all lessons for 'Spanish for Beginners'
SELECT
    l.lesson_id,
    l.name AS lesson_name,
    l.order_in_course,
    c.title AS course_title
FROM lessons l
JOIN courses c ON l.course_id = c.course_id
WHERE c.title = 'Spanish for Beginners'
ORDER BY l.order_in_course;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
2 rows affected.

[(1, 'Greetings and Introductions', 1, 'Spanish for Beginners'),
 (2, 'Common Phrases', 2, 'Spanish for Beginners')]

## Exercises

### Add Exercises to Lessons

In [ ]:
%%sql
-- Add exercises for 'Greetings and Introductions' lesson (assuming lesson_id is known)
INSERT INTO exercises (lesson_id, question, correct_answer, exercise_type)
SELECT lesson_id, 'Translate: Hello', 'Hola', 'translation'
FROM lessons WHERE name = 'Greetings and Introductions' AND course_id = (SELECT course_id FROM courses WHERE title = 'Spanish for Beginners');

INSERT INTO exercises (lesson_id, question, correct_answer, exercise_type)
SELECT lesson_id, 'Which is "Good morning"? A) Buenas noches B) Buenos días C) Buenas tardes', 'B) Buenos días', 'multiple-choice'
FROM lessons WHERE name = 'Greetings and Introductions' AND course_id = (SELECT course_id FROM courses WHERE title = 'Spanish for Beginners');

INSERT INTO exercises (lesson_id, question, correct_answer, exercise_type)
SELECT lesson_id, 'Listen and type: "Comment ça va?"', 'Comment ça va?', 'listening'
FROM lessons WHERE name = 'Past Tense Verbs' AND course_id = (SELECT course_id FROM courses WHERE title = 'French Intermediate');

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Get Exercises For a Specific Lesson

In [ ]:
%%sql
-- Get all exercises for the 'Greetings and Introductions' lesson
SELECT
    e.exercise_id,
    e.question,
    e.correct_answer,
    e.exercise_type,
    le.name AS lesson_name
FROM exercises e
JOIN lessons le ON e.lesson_id = le.lesson_id
WHERE le.name = 'Greetings and Introductions' AND le.course_id = (SELECT course_id FROM courses WHERE title = 'Spanish for Beginners');

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
2 rows affected.

[(1, 'Translate: Hello', 'Hola', 'translation', 'Greetings and Introductions'),
 (2, 'Which is "Good morning"? A) Buenas noches B) Buenos días C) Buenas tardes', 'B) Buenos días', 'multiple-choice', 'Greetings and Introductions')]

## Progress Tracking

### Record User Progress

In [ ]:
%%sql
-- Simulate 'duo_learner' completing 'Greetings and Introductions' lesson
INSERT INTO user_progress (user_id, lesson_id, xp_earned, completed_at)
SELECT u.user_id, l.lesson_id, 20, CURRENT_TIMESTAMP
FROM users u, lessons l
WHERE u.username = 'duo_learner' AND l.name = 'Greetings and Introductions' AND l.course_id = (SELECT course_id FROM courses WHERE title = 'Spanish for Beginners');

-- Simulate 'language_master' completing 'Past Tense Verbs' lesson
INSERT INTO user_progress (user_id, lesson_id, xp_earned, completed_at)
SELECT u.user_id, l.lesson_id, 30, CURRENT_TIMESTAMP
FROM users u, lessons l
WHERE u.username = 'language_master' AND l.name = 'Past Tense Verbs' AND l.course_id = (SELECT course_id FROM courses WHERE title = 'French Intermediate');

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
0 rows affected.

[]

### Get User's Total XP

In [ ]:
%%sql
-- Get total XP for 'duo_learner'
SELECT u.username, SUM(up.xp_earned) AS total_xp
FROM users u
JOIN user_progress up ON u.user_id = up.user_id
WHERE u.username = 'duo_learner'
GROUP BY u.username;

-- Or directly from the users table if updated there
SELECT username, xp
FROM users
WHERE username = 'duo_learner';

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.

[('duo_learner', 0)]

### Get User's Daily Streak

In [ ]:
%%sql
-- Get streak for 'duo_learner'
SELECT username, streak
FROM users
WHERE username = 'duo_learner';

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('duo_learner', 0)]

### Get User's Completed Lessons

In [ ]:
%%sql
-- Get all lessons completed by 'duo_learner'
SELECT
    u.username,
    c.title AS course_title,
    l.name AS lesson_name,
    up.xp_earned,
    up.completed_at
FROM user_progress up
JOIN users u ON up.user_id = u.user_id
JOIN lessons l ON up.lesson_id = l.lesson_id
JOIN courses c ON l.course_id = c.course_id
WHERE u.username = 'duo_learner'
ORDER BY up.completed_at DESC;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('duo_learner', 'Spanish for Beginners', 'Greetings and Introductions', 20, datetime.datetime(2025, 7, 8, 14, 15, 1, 901318))]

## Achievements

### Add Achievements

In [ ]:
%%sql
-- Add some achievements
INSERT INTO achievements (name, description) VALUES ('First Lesson Complete', 'Complete your first lesson.') ON CONFLICT (name) DO NOTHING;
INSERT INTO achievements (name, description) VALUES ('7-Day Streak', 'Maintain a streak for 7 consecutive days.') ON CONFLICT (name) DO NOTHING;
INSERT INTO achievements (name, description) VALUES ('Spanish Novice', 'Complete the Spanish for Beginners course.') ON CONFLICT (name) DO NOTHING;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Award Achievement to User

In [ ]:
%%sql
-- Award 'First Lesson Complete' to 'duo_learner'
INSERT INTO user_achievements (user_id, achievement_id)
SELECT u.user_id, a.achievement_id
FROM users u, achievements a
WHERE u.username = 'duo_learner' AND a.name = 'First Lesson Complete'
ON CONFLICT (user_id, achievement_id) DO NOTHING; -- Prevents re-awarding

-- Award '7-Day Streak' to 'language_master'
INSERT INTO user_achievements (user_id, achievement_id)
SELECT u.user_id, a.achievement_id
FROM users u, achievements a
WHERE u.username = 'language_master' AND a.name = '7-Day Streak'
ON CONFLICT (user_id, achievement_id) DO NOTHING;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
0 rows affected.

[]

### Get User's Achievements:

In [ ]:
%%sql
-- Get all achievements for 'duo_learner'
SELECT
    u.username,
    a.name AS achievement_name,
    a.description,
    ua.achieved_at
FROM user_achievements ua
JOIN users u ON ua.user_id = u.user_id
JOIN achievements a ON ua.achievement_id = a.achievement_id
WHERE u.username = 'duo_learner'
ORDER BY ua.achieved_at DESC;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('duo_learner', 'First Lesson Complete', 'Complete your first lesson.', datetime.datetime(2025, 7, 8, 14, 15, 6, 196948))]

Leaderboards

In [ ]:
%%sql
-- Get a leaderboard of top 10 users by XP
SELECT username, xp
FROM users
ORDER BY xp DESC
LIMIT 10;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[('duo_learner', 0)]

## Shop

### Add Shop Items

In [ ]:
%%sql
-- Add some shop items
INSERT INTO shop_items (name, cost, description) VALUES ('Streak Freeze', 200, 'Prevents losing your streak for one day.') ON CONFLICT (name) DO NOTHING;
INSERT INTO shop_items (name, cost, description) VALUES ('Double XP Boost', 500, 'Doubles XP earned for 1 hour.') ON CONFLICT (name) DO NOTHING;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.
1 rows affected.

[]

### User Purchases Item

In [ ]:
%%sql
-- Simulate 'duo_learner' buying a 'Streak Freeze'
INSERT INTO user_purchases (user_id, item_id)
SELECT u.user_id, si.item_id
FROM users u, shop_items si
WHERE u.username = 'duo_learner' AND si.name = 'Streak Freeze';

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
1 rows affected.

[]

### Get User Purchases

In [ ]:
%%sql
-- Get all items purchased by 'duo_learner'
SELECT
    u.username,
    si.name AS item_name,
    si.cost,
    up.purchased_at
FROM user_purchases up
JOIN users u ON up.user_id = u.user_id
JOIN shop_items si ON up.item_id = si.item_id
WHERE u.username = 'duo_learner'
ORDER BY up.purchased_at DESC;

   postgresql://admin:***@dpg-d1mfkd15pdvs73cvakkg-a.singapore-postgres.render.com/duolingo
 * postgresql://root:***@dpg-d1mfu2e3jp1c73epncfg-a.singapore-postgres.render.com/duolingo_up3k
2 rows affected.

[('duo_learner', 'Streak Freeze', 200, datetime.datetime(2025, 7, 8, 15, 35, 49, 219205)),
 ('duo_learner', 'Streak Freeze', 200, datetime.datetime(2025, 7, 8, 15, 35, 16, 167569))]